// couleurs

$orange : #f0380f;
$back-footer : #f4f4f4;


// breakpoints

$large-mobile: 376px;
$tablet: 768px;
$desktop: 1024px;
$desktop_large : 1440px;

@mixin media_large_mobile {
	@media (min-width: $large-mobile) {
		@content;
	}
}

@mixin media_tablet {
	@media (min-width: $tablet) {
		@content;
	}
}

@mixin media_desktop {
	@media (min-width: $desktop) {
		@content;
	}
}

@mixin media_desktop_large {
	@media (min-width: $desktop_large) {
		@content;
	}
}