.footer {
    background-color: $grey-footer;
    padding: 3.5rem 0 3.5rem 2.25rem;

    @include media_large_mobile {
        padding: 3.75rem 15%;
    }

    @include media_tablet {
        padding: 3.75rem 6%;
    }

    &_logo_1 {
        @include size(132.67px, 30.01px);
        padding-bottom: 1.875rem;
    }

    &_adresses {
        display: flex;
        flex-direction: column;

        @include media_tablet {
            @include flex(row, flex-start, center);
        }
    }
}

.city {
    @include media_tablet {
        padding-right: 10%;
    }

  
    @include media_desktop {
        padding-right: 5%;
    }
}

.city_name,
.contact_title {
    @include font(22px, 500, 34px, left);

    @include media_tablet {
        @include font(16px, 600, 28px, left);
    }
}

.city_text,
.contact_text {
    @include font(16px, 400, 24px, left);
    padding-bottom: 20px;

    @include media_tablet {
        @include font(13px, 400, 20px, left);
    }
}

.footer_logo_2 {
    @include size(73px, 66px);
    padding-top: 10px;

    @include media_tablet {
        padding-top: 0;
        padding-left: 20%;
    }

    @include media_desktop {
        padding-left: 25%;
    }

}