header {
    position: relative;
    @include flex(column, flex-start, center);
    width: 375px;
    height: 53.688rem;
    background: no-repeat url("/images/photo_header_mobile.png");

    @include media_large_mobile {
        width: 100%;
        height: 40rem;
        background: top no-repeat url("/images/photo_header_mobile_large.png");
    }

    @include media_tablet {
        width: 100%;
        height: 55rem;
        background: top no-repeat url("/images/photo_header_tablet.png");
    }

    @include media_desktop {
        height: 97.688rem;
        background: top no-repeat url("/images/photo_header_desktop.png");
    }
}

h1 {
    @include font(1.5rem, 500, 1.831rem, center);
    margin-top: 1.875rem;

    @include media_large_mobile {
        margin-top: 2rem;
    }

    @include media_tablet {
        margin-top: 0;
        text-align: left;
    }
}

.navigation {
    width: 100%;

    @include media_tablet {
        width: 88%;
        @include flex(row, space-between, baseline);
        margin-top: 45px;
    }
    @include media_desktop_large {
    }
  
}

ul {
    display: none;

    @include media_tablet {
        display: block;
        @include flex(row, flex-end, baseline);
    }
}

    .nav_barre_title {
        padding-right: 25px;
        @include font(16px, 500, 19.54px, center);
    }

    .nav_barre_button {
        border: none;
        background-color: $orange;
        color: white;
        @include font(16px, 500, 19.54px, center);
        @include size(79px, 42px);
        border-radius: 150px;
    }

h2 {
    @include font(1rem, 400, 1.5rem, center);
    color: $orange;
    padding: 0 4.75rem;
    margin-top: 2.5rem;

    @include media_large_mobile {
        padding: 0 3rem;
        margin-top: 1rem;
    }

    @include media_tablet {
        margin-top: 2rem;
    }

    @include media_desktop {
        padding-top: 4rem;
    }

    @include media_desktop_large {
        padding-top: 7.625rem;
        margin: 0;
    }
}

h3 {
    @include font(1.375rem, 500, 2.125rem, center);
    padding: 0 10px;
    margin-top: 10px;

    @include media_large_mobile {
        padding: 0 10%;
    }
    
    @include media_tablet {
        @include font(1.5rem, 400, 1.5rem, center);
        padding: 1.5rem 10rem 0 10rem;
    }

    @include media_desktop {
        @include font(2.5rem, 500, 3rem, center);
        padding: 1.266rem 10rem 0 10rem;
        margin: 0;
    }

    @include media_desktop_large {
        @include font(3.25rem, 500, 3.75rem, center);
        padding: 1.266rem 13.125rem 0 13.125rem;
        margin: 0;
    }
}